# Dependencies
node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Local env files
.env
.env.local

# Testing
coverage
coverage.json

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem
