.leaflet-control-opencage-geocoding {
	background: white;
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.leaflet-touch .leaflet-control-opencage-geocoding {
	box-shadow: none;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
    line-height: 30px;
}

.leaflet-control-opencage-geocoding-form {
	display: inline;
}

.leaflet-control-opencage-geocoding-form input,
.leaflet-control-opencage-geocoding-form ul,
.leaflet-control-opencage-geocoding-error {
	border: 0;
	color: transparent;
	background: white;
}

.leaflet-control-opencage-geocoding-form input {
	font-size: 16px;
	width: 0;
	transition: width 0.125s ease-in;
}

.leaflet-touch .leaflet-control-opencage-geocoding-form input {
	font-size: 22px;
}

.leaflet-control-opencage-geocoding-icon {
	width: 26px;
	height: 26px;
	background-image: url(../images/geocoder.png);
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-position: right;
	float: right;
	cursor: pointer;
}

.leaflet-touch .leaflet-control-opencage-geocoding-icon {
	margin-top: 2px;
	width: 30px;
}

.leaflet-control-opencage-geocoding-spinner .leaflet-control-opencage-geocoding-icon {
	background-image: url(../images/spinner.gif);
}

.leaflet-control-opencage-geocoding-expanded input,
.leaflet-control-opencage-geocoding-error {
	width: 226px;
	margin-left: 4px;
	padding-left: 4px;
	padding-right: 0px;
	color: #000;
}

.leaflet-control-opencage-geocoding-form input:focus {
	outline: none;
}

.leaflet-control-opencage-geocoding-form button {
	display: none;
}

.leaflet-control-opencage-geocoding-form-no-error {
	display: none;
}

.leaflet-control-opencage-geocoding-error {
	margin-top: 8px;
	display: block;
	color: #444;
}

ul.leaflet-control-opencage-geocoding-alternatives {
	width: 260px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	list-style: none;
	padding: 0;
	transition: height 0.125s ease-in;
}

.leaflet-control-opencage-geocoding-alternatives-minimized {
	width: 0 !important;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.leaflet-control-opencage-geocoding-alternatives li {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid #eee;
	padding: 0;
}


.leaflet-control-opencage-geocoding-alternatives li:last-child {
	border-bottom: none;
}

.leaflet-control-opencage-geocoding-alternatives a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 6px 8px 16px 6px;
	font-size: 14px;
}

.leaflet-touch .leaflet-control-opencage-geocoding-alternatives a {
	font-size: 18px;
}

.leaflet-control-opencage-geocoding-alternatives a:hover,
.leaflet-control-opencage-geocoding-selected {
	background-color: #ddd;
}
